* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/***** Debug *****/

.debug .site_header {
    background-color: cornflowerblue;
    height: 100px;
}

.debug .site_section1 {
    width: 100%;
    background-color: #b4d0e7;
    height: 600px;
}

/*****************
Header
******************/

.site_header {
    position: relative;
}

.site_nav {
    position: fixed;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.head1 {
    float: left;
    width: 50%;
    padding-left: 5rem;
}

.logo {
    vertical-align: sub;
}

.link_Sx {
    padding: 1rem;
    color: black;
}

.head2 {
    float: right;
    width: 50%;
    padding-left: 5rem;
}

.link_Dx {
    vertical-align: sub;
    padding: 1rem;
    color: black;
}

.bottone {
    color: white;
    background-color: #0061ff;
    margin-left: 1rem;
    padding: .5rem 1rem;
    vertical-align: sub;
}

a {
    text-decoration: none;
}

/*******************
Main
********************/

.site_section1 {
    width: 100%;
    background-color: #b4d0e7;
    margin-top: 5rem;
    padding: 3rem 3rem 3rem 5rem;
    word-wrap: break-word;
}

h1 {
    font-size: 75px;
}

p {
    padding-top: 3rem;
    width: 30%;
}

.btn_sec1 {
    margin-top: 3rem;
    color: white;
    background-color: #0061ff;
    padding: .5rem 1rem;
    display: inline-block;
}

span {
    padding-top: 1rem;
    display: inline-block;
}

i {
    padding-top: 3rem;
    font-size: 50px;
}

.img_sec1 {
    height: 500px;
    position: absolute;
    top: 357px;
    left: 485px;
    float: right;
}