* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

/***** Debug *****/

.debug .site_header {
    background-color: cornflowerblue;
    height: 100px;
}

.debug .site_section1 {
    width: 100%;
    background-color: #b4d0e7;
    height: 600px;
}

div[class^="col_"] {
    float: left;
    padding: 0rem 1rem;
}

.container-lg {
    width: 80%;
    margin: auto;
}

.container {
    width: 70%;
    margin: auto;
}

.col_30 {
    width: 40%;
}

.col_70 {
    width: 60%;
}

.col_33 {
    width: 33.33%;
}

.row {
    margin: 0 -1rem;
}

/*****************
Header
******************/

.site_header {
    position: relative;
}

.site_nav {
    position: fixed;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.head1 {
    float: left;
    width: 50%;
    padding-left: 5rem;
}

.logo {
    vertical-align: sub;
}

.link_Sx {
    padding: 1rem;
    color: black;
}

.head2 {
    float: right;
    width: 50%;
    padding-left: 5rem;
}

.link_Dx {
    vertical-align: sub;
    padding: 1rem;
    color: black;
}

.bottone {
    color: white;
    background-color: #0061ff;
    margin-left: 1rem;
    padding: .5rem 1rem;
    vertical-align: sub;
}

a {
    text-decoration: none;
}

/*******************
Main
********************/

/*Section 1*/

.site_section1 {
    width: 100%;
    background-color: #b4d0e7;
    margin-top: 5rem;
    padding: 0rem 3rem 3rem 5rem;
    word-wrap: break-word;
}

h1 {
    font-size: 75px;
}

.articolo {
    padding-top: 3rem;
    width: 30%;
}

.btn_sec1 {
    margin-top: 3rem;
    color: white;
    background-color: #0061ff;
    padding: .5rem 1rem;
    display: inline-block;
}

.Annulla {
    padding-top: 1rem;
    display: inline-block;
}

i {
    padding-top: 3rem;
    font-size: 50px;
}

.img_sec1 {
    height: 500px;
    position: absolute;
    top: 357px;
    left: 485px;
    float: right;
}

/******************/

/*Section 2*/

.container {
    padding-top: 5rem;
}

.testo {
    padding: 5rem 0 2rem 0;
}

.opzione, .opzione1 {
    border: 1px solid lightgray;
    text-align: center;
}

.title {
    padding-bottom: 2rem;
}

.btn_1 {
    border-radius: 50%;
    border: solid #0061ff;
    border-width: 5px;
    background-color: white;
    padding: 0px 10px;
    margin-right: 2px;
}

.btn_2 {
    border-radius: 50%;
    border: solid lightgray;
    border-width: 1px 1px;
    background-color: white;
    padding: 0px 10px;
    margin-right: 2px;
}

.Annulla {
    padding-left: .5rem;
    padding-bottom: 2rem;
}

.content, .content1 {
    border: 1px solid lightgray;
    padding: 1rem;
}

.fa-user, .fa-building, .fa-folder, .fa-pencil-alt, .fa-check, .fa-smile, .fa-user-plus, .fa-globe-americas, .fa-sort-up {
    font-size: 15px;
    padding-right: 5px;
}

.Prima, .Seconda {
    list-style: none;
    padding-bottom: 5rem;
}

h3, .bold {
    font-weight: bold;
    padding: 10px;
}

.category {
    color: gray;
    padding-left: 10px;
    font-size: smaller;
}

.fe {
    font-size: 14px;
}

.d {
    text-align: center;
}

.f {
    padding-left: 1rem;
    padding-top: 1rem;
}

.btn_sec2 {
    margin-top: 3rem;
    color: white;
    background-color: #0061ff;
    padding: .5rem 2rem;
    display: inline-block;
}

.fa-check {
    color: #0061ff;
}

span {
    font-size: 15px;
}

.articolo2 {
    padding: 10px;
}

.contenitore2 {
    margin: 3rem 0rem;
}

.contenitore2 h2 {
    float: left;
    padding-left: 10px;
}

.contenitore2 a {
    float: right;
}

.linea2 {
    padding-top: 3rem;
    width: 100%;
}

.btn2_sec2 {
    color: white;
    background-color: #0061ff;
    padding: .5rem 2rem;
    display: inline-block;
}

.ragazzi {
    padding: 0;
    width: 80%;
    float: right;
    margin-right: 4.8rem;
}

.title2, .articolo3 {
    padding: 1.5rem 0;
    line-height: 30px;
}

.btn3_sec2 {
    color: black;
    border: gray solid 2px;
    padding: .5rem 2rem;
    display: inline-block;
}

.cont2 {
    height: 500px;
}

.image {
    padding: 5rem 0;
}

.cont3 {
    margin-top: 3rem;
}

.riga2 {
    padding-left: 4rem;
}

.image, .image2 {
    padding-left: 3rem;
}

.par {
    padding: 1rem 0;
}

.para {
    width: 305px;
}

.cont3 h2 {
    font-size: 40px;
}

.image>img, .image2>img {
    width: 300px;
}

/*************/

/*Section 3*/

.cont4 {
    margin-top: 3rem;
    padding-left: 4rem;
}

.cont4 h2 {
    font-size: 40px;
    padding-bottom: 2rem;
}

.cont4 a {
    color: #0061ff;
    text-decoration: underline;
}

.container5 {
    padding-top: 4rem;
    width: 100%;
    float: left;
}

.parteDx, .parteSx {
    width: 30%;
    float: left;
}

.parteDx {
    width: 35%;
    float: left;
}

.parteDx img {
    float: left;
}

.sopra, .sotto {
    width: 50%;
    float: left;
}

.c_1 {
    height: 200px;
    background-color: #a2d39b;
    border: 5px solid #d0e9cd;
}

.c_2 {
    height: 200px;
    background-color: #61082b;
}

.c_3 {
    height: 200px;
    background-color: #0093ce;
}

.c_4 {
    height: 200px;
    background-color: #ff1c1c;
}

.parteCentrale {
    float: left;
    width: 30%;
}

.parteCentrale img {
    height: 50px;
}

.c5 {
    margin-bottom: 3rem;
}

.parteSx img {
    height: 50px;
}

.c_6 {
    height: 200px;
    background-color: #d5001f;
}

.c_7 {
    height: 200px;
    background-color: #b4d0e7;
}

.c_8 {
    height: 200px;
    background-color: #0d2481;
}

.c_9 {
    height: 200px;
    background-color: #ffd830;
}

/*************************/

/***************
*Footer
****************/

.site_footer {
    width: 100%;
    background-color: black;
    padding: 0 5rem 0 5rem;
    float: left;
}

.box1, .box2, .box3, .box4, .box5 {
    float: left;
    width: 20%;
    padding-top: 4rem;
}

.nessuna {
    list-style: none;
}

.nessuna {
    font-size: 15px;
    padding: 1rem;
}

.site_footer ul {
    color: white;
    line-height: 30px;
}

.primo {
    font-weight: bold;
}

.box5 {
    padding-bottom: 8rem;
}

.linea {
    width: 115px;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 0.1px solid lightgray;
}

.due {
    float: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
    color: lightgray;
}

.fa-sort-up {
    padding-left: .1rem;
    vertical-align: sub;
}